name: CI

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  wheels:
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.11']
#        python-version: ['3.11', '3.12', '3.13']
        platform:
          - runner: ubuntu-24.04
            target: x86_64
          - runner: windows-latest
            target: x64
          - runner: macos-15-intel
            target: x86_64
          - runner: macos-latest
            target: arm64
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          architecture: ${{ matrix.platform.runner == 'windows-latest' && matrix.platform.target || null }}
      - uses: dtolnay/rust-toolchain@stable
      - uses: astral-sh/setup-uv@v3
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --release --out dist
          interpreter: python${{ matrix.python-version }}
          sccache: ${{ !startsWith(github.ref, 'refs/tags/') }}
      - name: Upload wheels
        uses: actions/upload-artifact@v5
        with:
          name: wheels-${{ matrix.platform.runner }}-${{ matrix.platform.target }}-py${{ matrix.python-version }}
          path: dist
      - name: Run tests
        shell: bash
        env:
          UV_PROJECT_ENVIRONMENT: .venv
        run: |
          uv sync
          uv pip install pytest
          uv run pytest -s -v tests

  sdist:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - uses: dtolnay/rust-toolchain@stable
      - name: Generate Python stubs
        run: cargo run -p chronopt-py --no-default-features --features stubgen --bin generate_stubs
      - name: Build sdist
        uses: PyO3/maturin-action@v1
        with:
          command: sdist
          args: --out dist
      - name: Upload sdist
        uses: actions/upload-artifact@v5
        with:
          name: wheels-sdist
          path: dist

  release:
    name: Release
    runs-on: ubuntu-24.04
    if: ${{ startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch' }}
    needs: [wheels, sdist]
    permissions:
      id-token: write
      contents: write
      attestations: write
    steps:
      - uses: actions/download-artifact@v4
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: 'wheels-*/*'
      - name: Publish to PyPI
        uses: PyO3/maturin-action@v1
        env:
          MATURIN_PYPI_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        with:
          command: upload
          args: --non-interactive --skip-existing wheels-*/*